@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

html,body{
   height: 100%;
}
body {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-size: 16px;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

div.logo a {
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #6070ff;
  text-decoration: none;
}

nav {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

nav span {
  height: 2px;
  background: #6070ff;
  width: 16px;
  display: inline-block;
  margin: 2px 0;
}

#headline {
  padding: 114px 24px;
  background: url("images/header-shapes\ mobile.png");
  height: 100%;
  background-size: cover auto;
  background-repeat: no-repeat;
  background-position: left center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#headline h1 {
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  color: #172b4d;
  /* margin-bottom: 12px; */

}

#headline p {
  font-weight: 400;
  line-height: 24px;
  color: #344563;
  /* margin-bottom: 12px; */
}

#headline h4 {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  text-transform: uppercase;
  color: #7f8cff;
}

ul.socials {
    display: flex;
    list-style-type: none;
    padding-left: 0;
    justify-content: space-between;
    max-width: 170px;
}

